<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/public/css/dashboard.css">  
    </head>
    <body>
    <div class ="container">
    <div class="header">
        <h2 style="text-align:center">WELCOME</h2>
        <h2 style="text-align:center">Student Mark Management System</h2><br>

    </div>
    <center>
        <a href="/views/admin_dashboard.html" class="button">Admin</a><br><br>
        <a href="/views/student_dashboard.html" class="button">Student</a><br><br>
    </center>
    </div>
</body>
</html>